<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4" style="cursor: pointer;"  [routerLink]="['/movie/detail']" [queryParams]="{id: movie.id}">
      <img src="{{movie.photoUrl||'../../../assets/movie.png'}}" class="card-img-top" alt="..."
      [ngClass]="!movie.isApproved && 'pending-approval'">
      <div class="text-center img-text" *ngIf="!movie.isApproved">
        <h6 class="text-danger">Not Yet Approved</h6>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{movie.name}}</h5>
        <p class="card-text">{{movie.language}} <br>
        </p>
        <p class="card-text"><small class="text-muted">{{movie.releaseDate| date:"MMM/yyyy"}}</small></p>
      </div>
    </div>
  </div>
</div>