<div class="row">
    <div class="col-sm-4 " style="border: lightgray 1px solid;" *ngFor="let moviePhoto of moviePhotos; let i = index">
      <img src="{{moviePhoto.photo.url}}" class="img-fluid">
      <h5>{{moviePhoto.movieName}}
        <span class="pull-right">Added By: {{moviePhoto.photo.userName}}</span></h5>
      <div class="btn-group">
          <button class="btn btn-primary" (click)="reviewPhoto(moviePhoto,true,i)">Accept</button>
          <button class="btn btn-danger" (click)="reviewPhoto(moviePhoto,false,i)">Reject</button>
        </div>
    </div>
  </div>
  <div class="container justify-content-center mt-2" *ngIf="moviePhotos?.length===0">
    <h1 >Nothing to review at the moment.</h1>
    <br>
    <br>
    <h3>(Movie photo requests will apear only if the movie is approved.)</h3>
  </div>