<div class="container">
  <div class="row mt-5 justify-content-center">
    <ng-container *ngFor="let movieRole of movieRoles; let i = index">
      <div class="card mx-2" style="width: 250px; ">
        <div class="card-img-wrapper">
          <img src="{{movieRole.artistPhotoUrl || '.../../../../../assets/artist.png'}}" class="card-img-top img-responsive"
            alt="..." [ngClass]="!movieRole.isApproved && 'pending-approval'">
          <div class="text-center img-text" *ngIf="!movieRole.isApproved">
            <h6 class="text-danger">Not Yet Approved</h6>
          </div>
        </div>
        <div class="card-body p-1">
          <h6>
            <a [routerLink]="['/movie/detail']"  [queryParams] ="{id: movieRole.movieId}" >
              {{movieRole.movieName}}
            </a>
            <br>
            <a [routerLink]="['/artist/detail']"  [queryParams] ="{id: movieRole.artistId}">
              {{movieRole.artistName}}
            </a>
            <br>
            {{movieRole.roleName}}
          </h6>
          <button class="btn btn-danger" *ngIf="!movieRole.isApproved" (click)="delete(movieRole.id, i)">
            Delete
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="container mt-2" *ngIf="movieRoles?.length===0">
  <h1>You don't have any additions here.</h1>
</div>