<div class="container">
    <div class="btn-group mt-4" style="align-content: center;">
        <button class="btn btn-primary btn-lg" [routerLink]="['/movie/edit']">Add</button>
  </div>
  <div class="row mt-5 justify-content-center">
  <div *ngFor="let movie of movies; let i = index">
      <div class="card mb-3" style="max-width: 540px; cursor: pointer;" [routerLink]="['/movie/detail']" 
      [queryParams]="{id: movie.id}">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{movie.photoUrl||'../../../assets/movie.png'}}" class="card-img-top" alt="..."
              [ngClass]="!movie.isApproved && 'pending-approval'">
              <div class="text-center img-text" *ngIf="!movie.isApproved">
                <h6 class="text-danger">Not Yet Approved</h6>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{movie.name}}</h5>
                <p class="card-text">{{movie.language}} <br>
                </p>
                <p class="card-text"><small class="text-muted">{{movie.releaseDate| date:"MMM/yyyy"}}</small></p>
                <button class="btn btn-danger" *ngIf="!movie.isApproved" (click)="delete(movie.id, i)">Delete</button>
              </div>
            </div>
          </div>
        </div>
  </div>
  </div>
  </div>
  <div class="container mt-2" *ngIf="movies?.length===0">
    <h1>You don't have any additions here.</h1>
  </div>
  